@import "bourbon";

@mixin box-sizing($property){
    box-sizing: $property;
}

@mixin transition($property){
    transition: $property;
}

@mixin transform($property){
    transform: $property;
}

@mixin transition-duration($property){
    transition-duration: $property;
}

@mixin transition-delay($property){
    transition-delay: $property;
}
@mixin transform-origin($property){
    transform-origin: $property;
}

// *,
// *:before,
// *:after {
//     @include box-sizing(border-box);
// }

// body {
//     font-family: "Hind";
//     color: #676767;
//     cursor: default;
// }
.wrap {
        color: #676767;
        font-family: "Hind";
        max-width: 20em;
        // margin: 3em auto;
        margin: 0 3em 3em
}

.card {
    // background: #fff;
    // border: 1px solid #eee;
    // border-radius: 8px;
    @include transition(all 0.35s ease);

    &:hover {
        border-color: #ddd;
        box-shadow: rgba(var(--card-primary-color), 0.1) 0 0 5em;
        figure {
            @include transform(scale(0.6) translateY(-1.4em));
        }
        .card--title {
            @include transform(translateY(-5em));
        }
        .card--desc {
            visibility: visible;
            opacity: 1;
            @include transform(translateY(0));
            @include transition-duration(0.4s);
            p {
                opacity: 1;
            }
            hr {
                @include transition-delay(0.1s);
                @include transform(scale(1, 1));
            }
        }
        .card--social {
            li {
                opacity: 1;
                @include transition-duration(0.3s);
                @include transition-delay(0.1s);
                @include transform(translate(0, 0) rotate(0deg));
            }
        }
        .card--btn {
            a {
                background: #fbfbfb;
                border-color: #ddd;
            }
            .moreinfo {
                opacity: 0;
                @include transform(translateY(-50px));
            }
            .fullprof {z-index: 1;
                opacity: 1;
                @include transform(translateY(0));
            }
        }
    }

    figure {
        position: relative;
        // z-index: 299;
        width: 10em;
        height: 10em;
        margin: 0 auto 1em;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #eee;
        padding: 4px;
        @include transform-origin(center top);
        @include transition(all 0.4s $ease-out-circ);
        img {
            width: 100%;
            display: block;
            border-radius: 50%;
        }
    }
}

.card-liner {
    position: relative;
    // overflow: hidden;
    padding: 2em;
}

.card--title {
    text-align: center;
    line-height: 1;
    @include transition(all 0.4s $ease-out-circ);
    h3 {
        color: var(--color-bg-variant);
        margin: 0 0 0.4em;
        font-size: 1.4em;
    }
    p {
        margin: 0 0 5em;
        color: #272323;
        font-weight: 500;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 2.2px;
    }
}

.card--desc {
    position: absolute;
    top: 53.5%;
    left: 9%;
    width: 82%;
    text-align: center;
    padding-bottom: 0.8em;
    visibility: hidden;
    opacity: 0;
    @include transform(translateY(3em));
    @include transition(all 0.02s $ease-out-circ);
    p {color:var(--color-bg-variant);
        margin: 0 0 0.5em;
        font-weight: 900;
        opacity: 0;
        @include transition(all 0.55s ease 0.1s);
        span {
            text-decoration: line-through;
        }
    }
    hr {
        border: none;
        width: 3em;
        margin: 0 auto 0.75em;
        height: 3px;
        background: var(--card-primary-color);
        @include transform(scale(0, 1));
        @include transition(all 0.4s $ease-out-circ 0.05s);
    }
}

.card--btn {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    a {
        position: relative;
        overflow: hidden;
        display: block;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8em;
        color: #a5a5a5;
        padding: 1.4em 2em;
        border-top: 1px solid #eee;
        border-radius: 2em;
        letter-spacing: 0.5px;
        @include transition(all 0.4s ease);
        .fullprof {
            display: block;
            opacity: 0;
            color: var(--card-primary-color);
            @include transform(translateY(50px));
            @include transition(all 0.4s $ease-out-circ);


        }
        .moreinfo {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1.4em;
            opacity: 1;
            @include transition(all 0.4s $ease-out-circ);
            i {
                margin-right: 5px;
            }
        }
    }
}

.card--social {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding: 2em;
        position: relative;
    }
    li {
        display: block;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        @include transition(all 0.02s $ease-out-circ);
        &.github {
            left: 82%;
            @include transform(translate(-200%, 1em) scale(0.1));
        }

        &.site {
            right: 82%;
            @include transform(translate(200%, 1em) scale(0.7));
        }

        &.info {
            cursor: pointer;
            position:absolute;
            top: -50%;
            left: 90%;
            height: fit-content;
            @include transform(translate(200%, 1em) scale(0.7));
                 .tooltiptext {
                    visibility: hidden;
                    width: 350px;
                    bottom: 100%;
                    right: 50%;
                    margin: 7px;
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    border-radius: 6px;
                    padding: 10px;
                    position: absolute;
                    z-index: 2;
                    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
                    transform: translate3d(0, -20px, 0);
                    transition: all .5s ease-out;
                    }

                    &:hover .tooltiptext {
                        visibility: visible;
                        cursor: pointer;
                        backdrop-filter: blur(16px) saturate(180%);
                        -webkit-backdrop-filter: blur(16px) saturate(180%);
                        background-color: rgba(17, 25, 40, 0.75);
                        opacity: 1;
                        transform: translate3d(40%, 5%,0);
                    }
        }
    }
    a {
        line-height: 2.4;
        display: block;
        width: 2.3em;
        height: 2.3em;
        border-radius: 50%;
        border: 1px solid #ccc;
        background: #fbfbfb;
        color: var(--card-primary-color);
        text-decoration: none;
        @include transition(all 0.3s ease);
        &:hover {
            background: #eee;
        }
    }
}

// .cred {
//     display: none;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     text-align: center;
//     background: #fff;
//     border-top: 1px solid #eee;
//     text-decoration: none;
//     a {
//         display: block;
//         padding: 1em;
//         text-decoration: none;
//         color: #ccc;
//         font-weight: 500;
//         font-size: 5em;
//         letter-spacing: 0.5px;
//         i {
//             margin-left: 10px;
//         }
//     }
// }
